body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
background-image: url("https://media.istockphoto.com/id/1018472156/vector/technology-and-science-innovation-background.jpg?s=612x612&w=0&k=20&c=mTZe-VifaKPAifb6RvvNdgAMRT0aS9erdZ9ajvN4ST8=");
background-size: 100%;
}

.quiz-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}
